.git
.gitmodules
.playwright-cli
.pytest_cache
__pycache__/
*.pyc
*.pyo
*.swp
*.tmp
*.log
dist/
logs/

yudie/HDW-Regular_V2.2.5_202604021755_Ubuntu22+_x86_64.bak-20260413-134710/
qiuzhi/VR遥操作方案/HandDriver_BV2.1.9_202509171537_Linux_x86_64.zip
qiuzhi/VR遥操作方案/airbot_vr_1.0.0.zip
